{% extends "app/layout.html" %}

{% block content %}
 {% load static %}
    <!-- Page title -->
	<div class="home-title-wrapper">
		<div class="pattern-light-wrapper">
			<div class="container">
	        	<h2 class="page-title-main">Simple and perfect</h2>
                <h3 class="page-title-secondary">We develop quality products to help disabled people community.</h3>
	        </div>

			<div class="decorative-lines"></div>
			<div class="container">

                <div class="circle-info-buttons">
		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">Research</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Research</h4>
	                            <p class="circle-info__text hidden-xs"> our products are the result of several years efforts from a great team of Egyptian professors and researchers.</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->

		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">Develop</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Develop</h4>
	                            <p class="circle-info__text hidden-xs">We have a professional development team with  a very high skills .</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->

		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">Innovate</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Innovate</h4>
	                            <p class="circle-info__text hidden-xs">When Ideas comes to reality it means innovation.</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->
	        	</div>
			</div>

			<a class="btn btn--highlight btn-wider" href="#">Browse Our Projects</a>

		    <div class="divider-simple"></div>
        </div>
    </div>
	<!-- End Page title -->

	<!-- Promobox -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
		    	<div class="promobox hidden-xs promobox-position">
		    		<p class="promobox__text"><strong>Our Vision</strong> Facilitate life for people with special needs.</p>
		        	<a class="btn btn--highlight btn-wider" href="#">Browse Our Projects</a>
		    	</div>
	    	</div>
		</div>
	</div>
	<!-- End Promobox -->

	<!-- Begin main content -->

	<!-- Begin page section -->
	<section class="container benefits" >
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<h2 class="section-title">Tamkeen4st<span class="text-highlight">Mission</span></h2>
				<ul class="list-arrow list-arrow--hover-efect">
                    <li class="list__item"><strong> To use our extensive IT experience to deliver tangible business results enabling our clients in industry and government to profit from the advanced use of technology. We strive to build long-term client relationships based on mutual trust and respect. <br/> Our Main concerns are :</strong></li>
                	<li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>SELF-HELP SKILLS</strong> From making their own snack to tidying up their surroundings (and everything in between) people with special needs  are encouraged to become as independent as possible.</li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>CREATIVE ARTS</strong>  Different forms of creative  programs  promote self-concept, confidence, creativity and independent thinking. Currently we offer about  3 mobile applications to serve this purpose</li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>EDUCATIONAL FIELD  APPS</strong> For Example Autism patients can  gain valuable knowledge about a variety of topics as well as lessons in social interaction skills through real life experiences through our Autism App.</li>
				</ul>
			</div>
			<div class="col-xs-8 col-md-3 col-xs-offset-2 col-md-offset-1 roundabout-wrapper">
				<ul class="roundabout">
                    <li class="roundabout-slide"><img src="static/app/images/iphone-blue.png" alt=""></li>
                    <li class="roundabout-slide"><img src="static/app/images/iphone-dark.png" alt=""></li>
                    <li class="roundabout-slide"><img src="static/app/images/iphone-pink.png" alt=""></li>
                </ul>
				<div class="roundabout-controls">
					<a class="prev" href="#"></a>
					<a class="next" href="#"></a>
				</div>
			</div>
		</div>
		<!-- End row -->
	</section>
	<!-- End page section -->

	<!-- Begin page section -->
    <section class="services services--preview" id="projects">
    	<div class="container">
			<div class="row">
	            <div class="col-sm-12">
		        	<div class="divider-circle divider-circle--light"></div>

					<h2 class="section-title">Our<span class="text-highlight">Projects</span></h2>
	            </div>
			</div>
		</div>

        <!-- Decorated slider -->
        <div class="decorated-slider-wrapper">
			<div class="decorative-lines"></div>
			<div class="container">
				<div class="row">
		            <div class="col-sm-12">

						<div class="swiper-controls decorated-slider-controls">
							<a class="prev-arrow" href="#"></a>
							<a class="next-arrow" href="#"></a>
						</div>

						<div class="clearfix"></div>

						<div class="swiper-container decorated-slider">
						 	<div class="swiper-wrapper">

 {% for project in projects%}
{#{% with "slide" |add :forloop.counter as sty %}#}
							    <div class="swiper-slide swiper-slide--active" data-order="slide{{ forloop.counter }}">
				                	<div class="services__item">
                                        <img src="{% static project.image.url %}">
										<i class="icon icon-circle icon-circle--lg fa fa-cog"></i>
										<h4 class="service__title">{{ project.project_name }}</h4>
									</div>
								</div>
{#{% endwith %}#}
                                {% endfor %}

{#							    <div class="swiper-slide" data-order="slide2">#}
{#				                	<div class="services__item">#}
{#										<i class="icon icon-circle icon-circle--lg fa fa-users"></i>#}
{#										<h4 class="service__title">Multiple Users</h4>#}
{#									</div>#}
{#								</div>#}
{##}
{#							    <div class="swiper-slide" data-order="slide3">#}
{#				                	<div class="services__item">#}
{#										<i class="icon icon-circle icon-circle--lg fa fa-cloud"></i>#}
{#										<h4 class="service__title">Cloud Computing</h4>#}
{#									</div>#}
{#								</div>#}
{##}
{#							    <div class="swiper-slide" data-order="slide4">#}
{#				                	<div class="services__item">#}
{#										<i class="icon icon-circle icon-circle--lg fa fa-tags"></i>#}
{#										<h4 class="service__title">Cost Reduction</h4>#}
{#									</div>#}
{#								</div>#}

			            	</div>
						</div>
{#service__description  service__description--active#}
			            <div class="service__info">
                            {% for project in projects %}
							<p class= "service__description  service__description--active  slide{{ forloop.counter }}" ><strong>{{ project.project_name }}</strong> {{ project.description }} </p>
{#		                	<p class="service__description slide2"><strong>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</strong> Sed adipiscing fermentum auctor. Mauris convallis mattis risus vitae cursus. Quisque dapibus venenatis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dui id sapien gravida accumsan. Duis ultrices scelerisque velit eget mollis. Nam rhoncus auctor tortor, eget consectetur magna viverra a. Phasellus non mauris ipsum, in vulputate risus. Praesent non ligula lectus. </p>#}
{#		                	<p class="service__description slide3"><strong>Aenean facilisis tincidunt nibh, ac condimentum urna auctor ac. Nulla id ultricies ligula. </strong>Nulla ornare placerat eros, non aliquet quam ullamcorper nec. Morbi porta nulla sed elit rhoncus lobortis. Duis sit amet ante a augue pretium cursus pulvinar vel velit. Cras at nunc in libero mollis dignissim in ac metus. Pellentesque venenatis lobortis purus, eu scelerisque neque mattis id. Curabitur ut erat odio, nec posuere lacus. Vivamus vitae pulvinar felis. Duis faucibus nibh pulvinar ipsum fermentum blandit. </p>#}
{#		                	<p class="service__description slide4"><strong>Aenean fermentum eros id purus volutpat id sodales turpis pellentesque.</strong> Donec sapien risus, aliquam quis dictum quis, vehicula vitae mauris. Proin cursus condimentum massa vitae molestie. Aenean nec ligula ante, quis aliquet eros. Aliquam sit amet egestas orci. Aliquam convallis, leo in varius imperdiet, mauris ante accumsan dui, ut faucibus leo purus vel tortor. Suspendisse in varius quam. Maecenas orci libero, dictum sit amet porta et, lobortis ut arcu. Vivamus dolor risus, dignissim vitae pharetra vitae, tincidunt in ligula. </p>#}
			              {% endfor %}
			             </div>

		            </div>
				</div>
			</div>
		</div>
        <!-- End Decorated slider -->

	</section>
	<!-- End page section -->

	<!-- Begin page section -->
	<section class="universe hidden-xs">
		<div class="pattern-light-wrapper">
			<div class="container">
				<div class="row">
		            <div class="col-sm-4 col-md-5">
		            	<h2 class="section-title section-title--light">About   <span class="text-highlight">Tamkeen4st</span></h2>
					</div>

		            <div class="col-sm-8 col-md-7 circle-buttons-holder">
			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Research </h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Research</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->

			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Develop</h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Develop</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->

			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Innovate</h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Innovate</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->
		        	</div>
	        	</div>

	        </div>
			<div class="decorative-lines"></div>
        </div>


    </section>
    <section id="about" class="about" style="padding:25px;" >
     <div class="container">
        <div class="row">
            <div class="col-md-12">

		    		<p >
       <strong> Tamkeen4ST </strong>products are the result of several years efforts from a great team of Egyptian professors and researchers in collaboration with distinct Egyptian companies. This work resulted in establishing Tamkeen4ST Company to be specialized in providing products and services for Arabic disabled people. We are proud of our first and leader product in its field. We also promise to continue our researches to serve Arabic community.
   </p>


	    	</div>
		</div>
	</div>
    </section>
	<!-- End page section -->
<section>

<div class=" row awesome" id="latest">
{#    <div class="col-md-4">#}
{#        <h2> Sponsors & Partners </h2>#}
{#    </div>#}

			<div class=" col-md-12 awesome-right">
                {% for sponsor in sponsors %}
				<div class="awesome-right-grid">
					<a href="{% static sponsor.photo.url %}" class="b-link-stripe b-animate-go   swipebox"  title="">
                        <img class="one" src="{% static sponsor.photo.url %}" alt=" " title="Science Laboratory" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<img class="img-responsive" src="static/app/images/plus.png" class="zoom" alt=""/>
							</h2>
						</div>
					</a>


				</div>

                {%endfor%}


				<div class="clearfix"> </div>
			</div>
	<link rel="stylesheet" href="{% static 'app/css/swipebox.css'%}">
<script src="{% static 'app/js/jquery.min.js' %}"></script>

				<script src="{% static 'app/js/jquery.swipebox.min.js' %}"></script>
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
			<div class="clearfix"> </div>
		</div>


    </section>

	<!-- End main content -->
















{% endblock %}